<p id="notice"><%= notice %></p>

<h1>User Files</h1>

<div>
  <% @user_files.each do |user_file| %>
    <li> <%= user_file.user_file.filename %> <%= link_to "Download", rails_blob_path(user_file.user_file, disposition: "attachment") %> </li>
  <% end %>
</div>

<%= link_to 'New User File', new_user_file_path %>
