<p id="notice"><%= notice %></p>

<div>
  <strong>File:</strong>
  <p> <%= @user_file.user_file.filename %> </p>
</div>

<%= link_to 'Edit', edit_user_file_path(@user_file) %> |
<%= link_to 'Back', user_files_path %>
