@import "materialize";
@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import "user_files.scss";

.logo-text {
  font-family: 'Major Mono Display', monospace;
  color: #1a237e;
}
