// Place all the styles related to the UserFiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upload-button {
  background-color: #546e7a !important ;
  border-radius: 20px;
}

table {
  i {
    color: #546e7a;
  }
}